
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding:0px;
}
.container-left{
    background-color: #343541;
    font-family: 'Roboto', sans-serif;
    color: #ececf1;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    color: #ececf1;

}
.box{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap:0.95rem;
}
.btn:hover {
    background-color: #343541;
  }
  
.btn{
    padding: 0.75rem 0.65rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    background-color: transparent;
    border: 1px solid #555;
    border-radius: 4px;
    color: #ececf1;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 5px;
}
.sidebar{
    border: 1px solid #555;
    flex-grow: 1; 
    background-color: transparent; 
    color: #ececf1; 
    cursor: pointer;
    border-radius: 5px;
    padding: 0.25rem 0.25rem;
}
.sidebar:hover {
    background-color: #343541;
  }
.icon{
    width:1rem;
}
.left-side{
    background-color: #202123;
    width: 15rem;
    position: sticky;
    height: 100vh;
    padding: 0.5rem;
    top: 0px;
    left: 0px;
    
}
.down{
    margin: 0.5rem;
     margin-left: 0;
}
.today{
    font-size: 12px;
    margin: 1rem 0.5rem; 
    margin-bottom: 0px;
    color: #8e8e9f;
}

.search-item-1{ 
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 0.75rem;
    padding: 0.65rem 0.75rem;
    cursor: pointer;
    border-radius: 6px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}
.search-item-1:hover{
    
   background-color: #343541;
}
.search-item-2{
   
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 0.75rem;
    padding: 0.55rem 0.75rem;
    cursor: pointer;
    border-radius: 6px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}
.search-item-2:hover{
     background-color: #343541;
  
}
.search-item-3{
   
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 0.75rem;
    padding: 0.55rem 0.75rem;
    cursor: pointer;
    border-radius: 6px;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}
.search-item-3:hover{
     background-color: #343541;
  
}
.footer{
    border-top: 1px solid #555;
    position: fixed;
    bottom: 90px;
    width: 17vw;
    padding: 0.5rem;
  
}
.upgrade{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    bottom: 50px;
    border-top: 0px solid #555;
    gap: 0.85rem;
    width: 15vw;
    padding: 0.65rem 0.75rem;
    cursor: pointer;
    border-radius: 5px;
    
}
.upgrade:hover{
    background-color: #343541;
}
.part1{
    display: flex;
    gap: 0.95rem;
    width: 11vw;
    padding: 0.1rem;  
}


.btn-btn{
    height: 3vh;
    width: 3vw;
    border-radius:5px ;
    background-color: rgb(251, 251, 149);
    cursor: pointer;
}
.profile{
    display: flex;
    align-items: center;
    position:fixed;
    bottom: 0;
    width: 15vw;
    margin: auto;
    padding: 0.55rem 0.75rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: -0.1rem;
   

}
#profile-pic{
    height:28px;
    width: 30px;
    border:1px soild black;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
    border:transparent;
   
}
.name{
    border:1px soild black;
    cursor: pointer;
    border:transparent;
    margin-left:15px;
}

.profile:hover{
    background-color: #343541;
}

#icon-horizontal{
    margin-left: 62px;
}

/* right-side */
h1{
    margin-bottom: 55%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
 
}


.main-container {
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    bottom: 1rem;
    left: 30%;
  }
  
  .enter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #40414f;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin: 1.5rem auto;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  
  .enter input {
    background-color: #40414f;
    border: transparent;
    color: #ececf1;
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    width: 50vw;
    padding: 0.7rem 1rem;
   
  }

  .footer-text {
    color: #c7c7d6;
  }
  
  .footer-text {
    font-size: 0.8rem;
    text-align: center;
    margin-left: 4rem;
  }

